## Import

In [1]:
!pip install missingno

Requirement already satisfied: missingno in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from missingno) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from missingno) (3.8.3)
Requirement already satisfied: scipy in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from missingno) (1.12.0)
Requirement already satisfied: seaborn in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: pandas>=1.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from seaborn->missingno) (2.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import missingno as msno
import pickle
from sqlalchemy import create_engine, inspect
from time import time

## 1 Read CSV

In [3]:
# Загружаем данные в Датасет
df = pd.read_csv('main_dataset/ga_hits.csv')

# Выводим первые 30 строк
df.head(30)

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,5639623078712724064.1640254056.1640254056,2021-12-23,597864.0,30,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show,NaN,NaN
1,7750352294969115059.1640271109.1640271109,2021-12-23,597331.0,41,event,NaN,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show,NaN,NaN
2,885342191847998240.1640235807.1640235807,2021-12-23,796252.0,49,event,NaN,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show,NaN,NaN
3,142526202120934167.1640211014.1640211014,2021-12-23,934292.0,46,event,NaN,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show,NaN,NaN
4,3450086108837475701.1640265078.1640265078,2021-12-23,768741.0,79,event,NaN,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show,NaN,NaN
5,6466333295973247896.1640246168.1640246168,2021-12-23,704194.0,41,event,NaN,sberauto.com/cars?utm_source_initial=youtube&u...,quiz,quiz_show,NaN,NaN
6,281215510786615563.1640245516.1640245516,2021-12-23,911854.0,102,event,NaN,sberauto.com/cars/toyota?isnew=false&rental_ca...,quiz,quiz_show,NaN,NaN
7,4024492994895054107.1640269084.1640269084,2021-12-23,1071804.0,85,event,NaN,sberauto.com/cars/all/mercedes-benz/glc/f8f330...,quiz,quiz_show,NaN,NaN
8,555009234841130092.1640256620.1640256620,2021-12-23,1013899.0,101,event,VloVXNWduHeTjUoDkjkO,sberauto.com/cars/all/kia/sorento/c38179cb?utm...,quiz,quiz_show,NaN,NaN
9,2692901778487480807.1640206845.1640206845,2021-12-23,0.0,1,event,NaN,sberauto.com/cars/all/nissan/x-trail/0744675f?...,card_web,view_card,NaN,NaN
10,1945627655676404094.1640276355.1640276355,2021-12-23,197.0,4,event,NaN,sberauto.com/cars/all/porsche/911/f149c91b?ren...,card_web,view_card,NaN,NaN
11,4555345648396008371.1640233907.1640233907,2021-12-23,107.0,4,event,trXmoxcphNjuYcShOXwL,sberauto.com/cars/all/nissan/qashqai/bfc21661?...,card_web,view_card,NaN,NaN
12,5636135307570360848.1640280592.1640280592,2021-12-23,12.0,3,event,NaN,sberauto.com/cars/all/renault/duster/145d53f1?...,card_web,view_card,NaN,NaN
13,6993187768713388524.1640276467.1640276467,2021-12-23,1186.0,4,event,NaN,sberauto.com/cars/all/porsche/911/f149c91b?ren...,card_web,view_card,NaN,NaN
14,9063469723165129646.1640233902.1640233902,2021-12-23,68.0,3,event,uMnMdxLOIznakHyXLoMC,sberauto.com/cars/all/skoda/rapid/bf24b977?ren...,card_web,view_card,NaN,NaN
15,9221311837172398962.1640233841.1640233841,2021-12-23,506.0,3,event,trXmoxcphNjuYcShOXwL,sberauto.com/cars/all/skoda/rapid/bf24b977?ren...,card_web,view_card,NaN,NaN
16,8279923128365523547.1640276571.1640276571,2021-12-23,1024.0,3,event,uMnMdxLOIznakHyXLoMC,sberauto.com/cars/all/porsche/911/f149c91b?ren...,card_web,view_card,NaN,NaN
17,9126144797936188300.1640233869.1640233869,2021-12-23,488.0,3,event,NaN,sberauto.com/cars/all/renault/logan/8c3c73f2?r...,card_web,view_card,NaN,NaN
18,1333511261702627793.1640276433.1640276433,2021-12-23,5618.0,6,event,NaN,sberauto.com/cars/all/porsche/911/f149c91b?ren...,card_web,view_card,NaN,NaN
19,699466478407410560.1640289549.1640289549,2021-12-23,20.0,6,event,NaN,sberauto.com/cars/all/peugeot/traveller/4c1dd8...,card_web,view_card,NaN,NaN
20,951771360093549217.1640247969.1640247969,2021-12-23,53.0,3,event,NaN,client.saptest.sberauto-team.com/cars/all/merc...,card_web,view_card,NaN,NaN
21,8052362820286977556.1640273512.1640273512,2021-12-23,1032.0,5,event,QDnrErJRERbRmvEHvwWY,sberauto.com/cars/all/bmw/5-serii/eb5698f6?utm...,card_web,view_card,NaN,NaN
22,3117547552978670057.1640217454.1640217454,2021-12-23,65.0,2,event,NaN,sberauto.com/cars/all/skoda/rapid/bf24b977?ren...,card_web,view_card,NaN,NaN
23,3117547552978670057.1640217454.1640217454,2021-12-23,1032.0,5,event,NaN,sberauto.com/cars/all/skoda/rapid/bf24b977?ren...,card_web,view_card,NaN,NaN
24,3320172427694312697.1640238331.1640238331,2021-12-23,930.0,7,event,NaN,sberauto.com/cars/all/renault/logan/8c3c73f2?r...,card_web,view_card,NaN,NaN
25,7074391959464573938.1640233969.1640233969,2021-12-23,117.0,6,event,trXmoxcphNjuYcShOXwL,sberauto.com/cars/all/skoda/rapid/bf24b977?ren...,card_web,view_card,NaN,NaN
26,303140863566137965.1640221595.1640221595,2021-12-23,52.0,2,event,NaN,sberauto.com/cars/all/volkswagen/polo/e994838f...,card_web,view_card,NaN,NaN
27,428566905180426249.1640271881.1640271881,2021-12-23,3349.0,7,event,NaN,sberauto.com/cars/all/nissan/x-trail/0744675f?...,card_web,view_card,NaN,NaN
28,1134415621745059679.1640277868.1640277868,2021-12-23,209.0,2,event,NaN,sberauto.com/cars/all/renault/logan/8c3c73f2?r...,card_web,view_card,NaN,NaN
29,2398547126864026107.1640208903.1640208903,2021-12-23,219.0,2,event,NaN,sberauto.com/cars/all/mercedes-benz/e-klasse/d...,card_web,view_card,NaN,NaN

## 2 Data Preparation

### 2.1 Data check

In [4]:
# Выводим инфо
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15726470 entries, 0 to 15726469
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   session_id      object
 1   hit_date        object
 2   hit_time        float64
 3   hit_number      int64
 4   hit_type        object
 5   hit_referer     object
 6   hit_page_path   object
 7   event_category  object
 8   event_action    object
 9   event_label     object
 10  event_value     float64
dtypes: float64(2), int64(1), object(8)
memory usage: 1.3+ GB

In [5]:
# Основные показатели
result = df.describe(include='all')

# Display the summary
print(result)

                                       session_id    hit_date      hit_time  \
count                                    15726470    15726470  6.566148e+06
unique                                    1734610         226           NaN
top     5442565791571325612.1632449195.1632449195  2021-05-24           NaN
freq                                          768      513035           NaN
mean                                          NaN         NaN  2.091050e+05
std                                           NaN         NaN  4.032110e+05
min                                           NaN         NaN  0.000000e+00
25%                                           NaN         NaN  2.412000e+04
50%                                           NaN         NaN  8.994100e+04
75%                                           NaN         NaN  2.195352e+05
max                                           NaN         NaN  1.315688e+07

          hit_number  hit_type           hit_referer           hit_page_path  \
count   1.572647e+07  15726470               9451666                15726470
unique           NaN         1                 37873                  342715
top              NaN     event  HbolMJUevblAbkHClEQa  podpiska.sberauto.com/
freq             NaN  15726470               8879187                 2793639
mean    2.356715e+01       NaN                   NaN                     NaN
std     2.887713e+01       NaN                   NaN                     NaN
min     1.000000e+00       NaN                   NaN                     NaN
25%     7.000000e+00       NaN                   NaN                     NaN
50%     1.500000e+01       NaN                   NaN                     NaN
75%     2.900000e+01       NaN                   NaN                     NaN
max     5.000000e+02       NaN                   NaN                     NaN

       event_category event_action           event_label  event_value
count        15726470     15726470              11966286          0.0
unique             52          230                 39825          NaN
top          card_web    view_card  KclpemfoHstknWHFiLit          NaN
freq          7456998      3558985               6505447          NaN
mean              NaN          NaN                   NaN          NaN
std               NaN          NaN                   NaN          NaN
min               NaN          NaN                   NaN          NaN
25%               NaN          NaN                   NaN          NaN
50%               NaN          NaN                   NaN          NaN
75%               NaN          NaN                   NaN          NaN
max               NaN          NaN                   NaN          NaN

In [6]:
# Размерность
df.shape

(15726470, 11)

In [7]:
# Проверка Датасета на дубли
df.duplicated().sum()

0

### 2.2 Missing check

In [8]:
# Проверяем на пропуски данных в Датасете
def print_useful_rows_info(df):
    print(f'Количество полностью заполненных объектов из всей выборки: {len(df.dropna())}')
    print(f'Процент полностью заполненных объектов из всей выборки: {round(len(df.dropna()) / len(df) * 100, 2)}%')

print_useful_rows_info(df)

Количество полностью заполненных объектов из всей выборки: 0
Процент полностью заполненных объектов из всей выборки: 0.0%

In [9]:
# Выводим процент пропущенных значений для каждого столбца(сортируем по убыванию)
missing_values = round(((df.isna().sum() / len(df)) * 100).sort_values(ascending=False), 2)
missing_values

event_value       100.00
hit_time           58.25
hit_referer        39.90
event_label        23.91
session_id          0.00
hit_date            0.00
hit_number          0.00
hit_type            0.00
hit_page_path       0.00
event_category      0.00
event_action        0.00
dtype: float64

In [10]:
df_dropped_column = df.drop('event_value', axis=1)

In [11]:
df_cleaned = df_dropped_column.dropna()

In [12]:
# Выводим процент пропущенных значений для каждого столбца(сортируем по убыванию)
missing_values = round(((df_cleaned.isna().sum() / len(df)) * 100).sort_values(ascending=False), 2)
missing_values

session_id        0.0
hit_date          0.0
hit_time          0.0
hit_number        0.0
hit_type          0.0
hit_referer       0.0
hit_page_path     0.0
event_category    0.0
event_action      0.0
event_label       0.0
dtype: float64

In [13]:
df_cleaned.to_csv('ga_hits_cleaned.csv', index=False)

In [14]:
df = pd.read_csv('ga_hits_cleaned.csv', low_memory=False)

In [15]:
df

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label
0,555009234841130092.1640260866.1640260866,2021-12-23,471679.0,9,event,VloVXNWduHeTjUoDkjkO,sberauto.com/cars?yzclid=6771251748358633377&r...,chat,start_chat,uDrwlhtkwJJbRcbyRaTW
1,555009234841130092.1640256620.1640256620,2021-12-23,1271259.0,104,event,VloVXNWduHeTjUoDkjkO,sberauto.com/cars?yzclid=6771251748358633377&r...,chat,start_chat,uDrwlhtkwJJbRcbyRaTW
2,6139777281666872847.1640265232.1640265232,2021-12-23,29883.0,9,event,zMwrjeWsxeDphOPlUjAk,sberauto.com/cars?yzclid=6051512638789954600&r...,search_form,search_engine,YuhDTiXiBasdsHCIzAUK
3,5153092889978658958.1640292494.1640292494,2021-12-23,55269.0,3,event,aQOHBgpqSEfJGjeufDJI,sberauto.com/cars?yzclid=2041175089513859751&r...,listing_ads,go_to_car_card,hAHqGICPFQiPwtzubOzs
4,4675475832125539816.1640252905.1640252905,2021-12-23,860893.0,39,event,oEccxKzBaecDAjjaBQBE,sberauto.com/cars?yzclid=8179197659084540775&r...,listing_ads,go_to_car_card,hAHqGICPFQiPwtzubOzs
...,...,...,...,...,...,...,...,...,...,...
118948,1581571075019376763.1636829311.1636829311,2021-11-13,160332.0,19,event,KxHUrXWvAdkYyWxyhylp,sberauto.com/cars?utm_source_initial=sbol&utm_...,listing_ads,go_to_car_card,hAHqGICPFQiPwtzubOzs
118949,1581571075019376763.1636829311.1636829311,2021-11-13,199821.0,35,event,KxHUrXWvAdkYyWxyhylp,sberauto.com/cars?utm_source_initial=sbol&utm_...,listing_ads,go_to_car_card,hAHqGICPFQiPwtzubOzs
118950,6072037371003468251.1636760029.1636760029,2021-11-13,365207.0,39,event,KxHUrXWvAdkYyWxyhylp,sberauto.com/cars?utm_source_initial=sbol&utm_...,listing_ads,go_to_car_card,hAHqGICPFQiPwtzubOzs
118951,6072037371003468251.1636760029.1636760029,2021-11-13,369496.0,46,event,KxHUrXWvAdkYyWxyhylp,sberauto.com/cars?utm_source_initial=sbol&utm_...,listing_ads,go_to_car_card,hAHqGICPFQiPwtzubOzs
118952,8804498627030387819.1636821895.1636821895,2021-11-13,363276.0,10,event,KxHUrXWvAdkYyWxyhylp,sberauto.com/cars?utm_source_initial=sbol&utm_...,search_form,search_form_region,tmNaRTJfPHHklsAUxvJQ

In [16]:
# Check for NaN values in the entire DataFrame
nan_values = df.isna().any().any()

# Alternatively, you can check for NaN values column-wise
nan_values_column_wise = df.isna().any()

# Print the results
print(f"Are there any NaN values in the DataFrame? {nan_values}")
print("\nColumns with NaN values:")
print(nan_values_column_wise)

Are there any NaN values in the DataFrame? False

Columns with NaN values:
session_id        False
hit_date          False
hit_time          False
hit_number        False
hit_type          False
hit_referer       False
hit_page_path     False
event_category    False
event_action      False
event_label       False
dtype: bool

In [17]:
# Выводим процент пропущенных значений для каждого столбца(сортируем по убыванию)
missing_values = round(((df.isna().sum() / len(df)) * 100).sort_values(ascending=False), 2)
missing_values

session_id        0.0
hit_date          0.0
hit_time          0.0
hit_number        0.0
hit_type          0.0
hit_referer       0.0
hit_page_path     0.0
event_category    0.0
event_action      0.0
event_label       0.0
dtype: float64

In [18]:
# Выведем информацию по датасету
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118953 entries, 0 to 118952
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   session_id      118953 non-null  object
 1   hit_date        118953 non-null  object
 2   hit_time        118953 non-null  float64
 3   hit_number      118953 non-null  int64
 4   hit_type        118953 non-null  object
 5   hit_referer     118953 non-null  object
 6   hit_page_path   118953 non-null  object
 7   event_category  118953 non-null  object
 8   event_action    118953 non-null  object
 9   event_label     118953 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 9.1+ MB

In [19]:
print(pd.io.sql.get_schema(df, name = 'ga_hits'))

CREATE TABLE "ga_hits" (
"session_id" TEXT,
  "hit_date" TEXT,
  "hit_time" REAL,
  "hit_number" INTEGER,
  "hit_type" TEXT,
  "hit_referer" TEXT,
  "hit_page_path" TEXT,
  "event_category" TEXT,
  "event_action" TEXT,
  "event_label" TEXT
)

In [20]:
df.hit_date = pd.to_datetime(df['hit_date'])

In [21]:
print(pd.io.sql.get_schema(df, name = 'ga_hits'))

CREATE TABLE "ga_hits" (
"session_id" TEXT,
  "hit_date" TIMESTAMP,
  "hit_time" REAL,
  "hit_number" INTEGER,
  "hit_type" TEXT,
  "hit_referer" TEXT,
  "hit_page_path" TEXT,
  "event_category" TEXT,
  "event_action" TEXT,
  "event_label" TEXT
)

In [22]:
engine = create_engine('postgresql://airflow:airflow@localhost:5433/airflow')

In [23]:
engine.connect()

In [24]:
print(pd.io.sql.get_schema(df, name = 'ga_hits', con = engine))

CREATE TABLE ga_hits (
	session_id TEXT,
	hit_date TIMESTAMP WITHOUT TIME ZONE,
	hit_time FLOAT(53),
	hit_number BIGINT,
	hit_type TEXT,
	hit_referer TEXT,
	hit_page_path TEXT,
	event_category TEXT,
	event_action TEXT,
	event_label TEXT
)

In [25]:
num_rows = df.shape[0]
print(f'Number of rows: {num_rows}')

Number of rows: 118953

In [26]:
df_iter = pd.read_csv('ga_hits_cleaned.csv', iterator = True, chunksize = 10000)

In [27]:
df = next(df_iter)

In [28]:
len(df)

10000

In [29]:
df.hit_date = pd.to_datetime(df['hit_date'])

In [30]:
df.to_sql(name = 'ga_hits', con = engine , if_exists= 'append')

1000

In [31]:
import uuid

def convert_uuid_to_float(uuid_str):
    if isinstance(uuid_str, str):
        try:
            uuid_obj = uuid.UUID(uuid_str)
            return float.fromhex(uuid_obj.hex)
        except ValueError:
            return None
    else:
        return None

while True:
    t_start = time()
    df = next(df_iter)

    df.hit_date = pd.to_datetime(df['hit_date'])
    df.to_sql(name='ga_hits', con=engine, if_exists='append')

    t_end = time()

    print(f'Внесена часть ДФ, заняло {t_end - t_start:.3f} секунд')

Внесена часть ДФ, заняло 0.409 секунд
Внесена часть ДФ, заняло 0.400 секунд
Внесена часть ДФ, заняло 0.499 секунд
Внесена часть ДФ, заняло 0.489 секунд
Внесена часть ДФ, заняло 0.495 секунд
Внесена часть ДФ, заняло 0.412 секунд
Внесена часть ДФ, заняло 0.532 секунд
Внесена часть ДФ, заняло 0.635 секунд
Внесена часть ДФ, заняло 0.436 секунд
Внесена часть ДФ, заняло 0.438 секунд
Внесена часть ДФ, заняло 0.356 секунд

StopIteration: